.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-inline: auto;
  margin-top: 50px;
}

button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 8px 10px;
  display: block;
  margin-top: 10px;
}
